body{
    background-color: darkgray;
}

html{
    --width: 100;
    --height: 60;
    --mapheight: 1;
    --mapwidth: 1;

    --skycolor : 7,57,153;
}

.window{
	margin: auto;
    background: linear-gradient(180deg,
        rgba(2,0,36,1) 0%,
        rgb(var(--skycolor)) 7%,
        rgba(180,225,234,1) 50%,
        rgba(42,80,80,1) 50%);

    width: calc(var(--width) * 1px);
	height: calc(var(--height) * 1px); 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.map{
    width: calc(var(--width) * .25px);
	height: calc(var(--height) * .25px); 
    background-color: rgb(255, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mapitem {
    background-color: rgb(255, 255, 255);
    width: calc(var(--width)/(var(--mapwidth)) * .25px);
	height: calc(var(--height)/(var(--mapheight)) * .25px); 
}

.red{
    background-color: rgb(255, 0, 0);

}

.wall{
    background-color: rgb(0, 0, 0);
}

.line {
	height: calc(var(--height) * 1px); 
    
    background-color: rgb(var(--color));
    width: 1px;
    /*background-repeat: no-repeat;*/
    background-position: calc(var(--offset) * calc(var(--height)/16)* 1px),0px;

    background-size: calc(var(--height) *1px), 0px;

    filter: brightness(calc(var(--height)/250));

    /* not right*/

    background-origin: content-box;

    background-image: url("wall.png");
  
    
 
}